<ion-card *ngFor="let item of data; trackBy: trackByFn"> 
  <ion-card-header>
    <ion-card-subtitle>{{ item.text }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <img [src]="item.photo" appNotImage/>
  </ion-card-content>
</ion-card>