ion-card{
    margin: 0.8rem;
    padding: 0.4rem;

    ion-card-header, ion-card-content{
        text-align: center;
    }

    ion-card-content img{
        width: 50%;
        height: 50%;
        max-width: 10rem;
        max-height: 10rem;
        min-width: 5px;
        min-height: 5px;
    }

}