<ion-header >
  <ion-toolbar>
    <ion-title class="ion-text-center">
      {{ 'home.title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-searchbar placeholder="{{ 'search' | translate }}" (ionInput)="searchAction($event)"></ion-searchbar>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="scrollToTop()">
    <ion-fab-button>
      <ion-icon name="arrow-up-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <app-photo-card [data]="itemPhotos">
  </app-photo-card>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="{{ 'loading' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>


